body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 250, 241);
    
}
.logo__body{
    fill: darkorange;
}
.logo__text{
    font-family: Arial, Helvetica, sans-serif;
}
.rect--left{
    fill: darkorange;
}
.rect--right{
    fill: darkorange;
}